[Unit]
Description=Rumoski Plaka Tahmin Oyunu
After=network.target

[Service]
Type=simple
User=kadiroski
WorkingDirectory=/home/kadiroski/Desktop/plaka
ExecStart=/usr/bin/python3 -m http.server 8812
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target